using Microsoft.AspNetCore.Mvc;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace {{basenamespace}}.Controllers
{
    class {{controllername}} : BaseController
    {
{{#each Operations}}
        /// <summary>
        /// {{OperationSummary}}
        /// </summary>
        [Http{{OperationVerb}}("{{OperationPath}}")]
        public Task<IActionResult> {{OperationName}}({{#if}} {{/if}})
        {

        }
{{/each}}
    }
}
