using Microsoft.AspNetCore.Mvc;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace {{basenamespace}}.Controllers
{
    [ApiController]
    public class {{controllername}} : ControllerBase
    {

        private readonly ILogger<{{controllername}}> _logger;
      
        public {{controllername}}(ILogger<{{controllername}}> logger)
        {
            _logger = logger;
        }

{{#each Operations}}
        /// <summary>
        /// {{OperationSummary}}
        /// </summary>
        [Http{{OperationVerb}}("{{OperationPath}}")]
        [ProducesResponseType(200)]
        public Task<IActionResult> {{OperationName}}({{#each OperationParameters}}{{#if In}}[From{{In}}] {{Schema.Format}} {{Name}}{{/if}}{{/each}})
        {

        }
{{/each}}
    }
}
