using Microsoft.AspNetCore.Mvc;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace {{basenamespace}}.API.Controllers
{
    [ApiController]
    public class {{controllername}} : ControllerBase
    {

        private readonly ILogger<{{controllername}}> _logger;
        private readonly I{{basenamespace}}Service _service;
      
        public {{controllername}}(ILogger<{{controllername}}> logger, I{{basenamespace}}Service _service)
        {
            _logger = logger;
            _service = service;
        }

{{#each Operations}}
        /// <summary>
        /// {{OperationSummary}}
        /// </summary>
        [Http{{OperationVerb}}("{{OperationPath}}")]
        [ProducesResponseType(200)]
        public Task<IActionResult> {{OperationName}}({{OperationParameters}})
        {

        }
{{/each}}
    }
}
