using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace {{controllernamespace}}
{
    class {{controllername}}
    {
{{#each operationname}}
        [HttpGet("{{name}}")]
        public void Get
        {

        }
{{/each}}
    }
}
